/* General */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

/* Font */
html {
  font-size: 62.5%;
}

#wrapper {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.7rem;
}

p,
a,
td,
th,
li,
dt,
dd {
  font-size: 1.6rem;
}

/* Components */
.container {
  max-width: 1240px;

  padding: 20px 0;

  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;

  padding: 0.6rem 1rem;
  margin: 0.2rem 0 0 0;
  border: 2px solid #db3a34;
  border-radius: 4px;

  color: white;
  background-color: #db3a34;
  text-decoration: none;
  font-weight: 600;

  transition: all 250ms ease-out;
}
.btn:hover {
  background-color: white;
  border-color: #db3a34;
  color: #db3a34;
}

img {
  display: block;

  max-width: 100%;
}

/* Layout */
#nav {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 300px;
  height: 100vh;
}

#content,
#footer {
  width: 100%;
  padding-left: 350px;
  padding-right: 50px;
}

article + article {
  margin-top: 40px;
}

/* Nav */
#nav {
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.07);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#nav ul {
  list-style-type: none;
  text-align: center;

  padding: 0;
  margin: 0;
}

#nav ul > li + li {
  margin-top: 2rem;
}

#nav ul > li > a {
  font-size: 1.8rem;
  color: #db3a34;
}

/* Footer */
#footer {
  text-align: center;
}
